.chart-div {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

#date {
  margin-left: 15px;
}

.font-12 {
  margin: 10px 0px;
  font-size: 12px;
}

.loading {
  font-size: 20px;
  color: gray;
  margin: 40px 0;
}